:root {
    --primary-color: #695CFE;
    --text-color: #333;
    --background-color-light: #E4E9F7;
    --background-color-dark: #18191A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 8%;
}

.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 100px;
    font-weight: 600;
    position: relative;
}

.container h1::after {
    content: '';
    background: var(--primary-color);
    width: 250px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #FFFFFF;
    transition: transform 0.5s, background 0.5s;
    border: none;
    color: var(--text-color);
    min-height: 210px;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.service p {
    color: var(--text-color);
    margin-top: 20px;
}

.service:hover {
    background: var(--primary-color);
    color: #fff;
    transform: scale(1.05);
}

.service:hover i {
    color: #fff !important;
}

.service:hover p {
    color: #fff !important;
}


/* Dark Mode Styles */

body.dark-mode {
    background-color: var(--background-color-dark);
    color: #ddd;
}

.dark-mode .container h1::after {
    background: var(--primary-color);
}

.dark-mode .service {
    background-color: #2E2E2E;
    color: #ddd;
}

.dark-mode .service:hover {
    background: var(--primary-color);
    color: #fff;
}

.dark-mode .service i {
    color: var(--primary-color);
}

.dark-mode .service p {
    color: #fff;
}