@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

@media(max-width: 800px) {
    #chatbox{
        width: 95%;
    }
}
body {
    background-color: #E4E9F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

body.dark-mode {
    background-color: #18191A;
    color: #E4E9F7;
}

#chatbox {
    width: 70%;
    height: 80%;
    margin: auto;
}
#messages {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    height: 85%;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
}
body.dark-mode #messages {
    background-color: #3E3E3E;
}

#messages::-webkit-scrollbar {
  	display: none;
}

.input-box {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 20px;
    height: 50px;
}
body.dark-mode .input-box {
    background: #3E3E3E;
}
.input-box input {
    flex: 9;
    padding: 10px;
    background: none;
    border: none;
    color: inherit;
}
input[type="text"]:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-radius: 20px 0 0 20px;
}

.input-box button {
    border-radius: 0 20px 20px 0;
    flex: 1;
    background: #695CFE;
    border: 0;
}
body.dark-mode .input-box button {
    background: #5050FE;
}

.icon {
     font-size: 25px;
    color: white;
}

button:hover {
    background: #007bff;
    border-radius: 0 20px 20px 0;
}
.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.message.user {
    justify-content: flex-end;
}
.message.bot {
    justify-content: flex-start;
}
.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
}
.message .content {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    background-color: #f1f1f1;
}
.message.user .content {
    background-color: #dcf8c6;
}
body.dark-mode .message .content {
    background-color: #505050;
}
body.dark-mode .message.user .content {
    background-color: #4A7C59;
}
.blinking-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    animation: blink 1s steps(5, start) infinite;
    margin-left: 5px;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
