<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Demo</title>
    <link rel="stylesheet" href="../static/css/style.chat.css">
</head>
<body>
    <div id="chatbox">
        <div id="messages">
        </div>
        <div class="input-box">
            <input type="text" id="message" placeholder="给讯飞发送消息">
            <button onclick="sendMessage()"><i class='bx bx-send icon'></i></button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../static/js/script.chat.js"></script>
</body>
</html>
