{% extends 'base.html' %}

{% block content %}
    <div class="login-box">
        <h2>登录</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            <div class="centered">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}
