<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.about.css') }}" >
    <script type="module" src="/static/sober@0.1.141/dist/main.js"></script>
    <script src="{{ url_for('static', filename='/js/script.main.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/script.about.js') }}"></script>
</head>
<body>
    <s-page style="background: transparent;">
        <s-fab id="fabButton">
            <s-icon type="home"></s-icon>
        </s-fab>

    </s-page>
</body>
</html>