<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title> PPT智作 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.ppt.css') }}" >
    <script type="module" src="/static/sober@0.1.141/dist/main.js"></script>
    <script src="{{ url_for('static', filename='/js/script.main.js') }}"></script>

    <script src="/static/js/jquery.min.js"></script>

</head>
<body>
<!---加载动画--->
    <div class="loaderbg">
        <div class="spinner">
            <div class="double rect1"></div>
            <div class="double rect2"></div>
            <div class="double rect3"></div>
            <div class="double rect4"></div>
            <div class="double rect5"></div>
        </div>
    </div>
    <s-page style="background: transparent;">
        <s-fab id="fabButton">
            <s-icon type="home"></s-icon>
        </s-fab>

        <s-carousel class="carousel">
              <div style="background: #936d6d"></div>
              <div style="background: #6d936f"></div>
              <div style="background: #856d93"></div>
        </s-carousel>
<!--轮播图，要换-->
        <div class="input-box" id="input-box">
            <div class="container" id="container">
                 <input type="text" required="required" id="user-input">
                    <label>请输入你的要求</label>
                    <i></i>
            </div>
            <s-dialog size="full" id="button-to">
                  <!--触发按钮-->
                  <s-button slot="trigger" > Continue </s-button>
                  <!--自定义布局-->
                  <div class="more-window">
                      <div class="H1"> <div class="H1-text"> 更多设置 </div> </div>
                      <s-divider></s-divider>

                      <div class="H2"> PPT主题 </div>
                      <!--主题图片置入卡片-->
                      <div class="tab">
                          <button class="tablinks" onclick="openTab(event, 'auto')"><a>自动主题</a></button>
                          <button class="tablinks" onclick="openTab(event, 'purple')"><a>紫色主题</a></button>
                          <button class="tablinks" onclick="openTab(event, 'green')"><a>绿色主题</a></button>
                          <button class="tablinks" onclick="openTab(event, 'lightblue')"><a>清逸天蓝</a></button>
                          <button class="tablinks" onclick="openTab(event, 'taupe')"><a>质感之境</a></button>
                          <button class="tablinks" onclick="openTab(event, 'blue')"><a>星光夜影</a></button>
                          <button class="tablinks" onclick="openTab(event, 'telecomRed')"><a>炽热暖阳</a></button>
                          <button class="tablinks" onclick="openTab(event, 'telecomGreen')"><a>幻翠奇旅</a></button>
                      </div>

                      <div class="image-container">
                          <img id="dynamicImage" src="/static/images/ppt-theme/auto.png" alt="Dynamic Image">
                      </div>

                      <s-divider class="s1"></s-divider>
                      <div class="H2"> 是否生成PPT注释 </div>
                      <label class="switch">
                          <input type="checkbox" id="mySwitch">
                          <span class="slider round"></span>
                      </label>

                  </div>
                  <s-fab class="s-fab-false" slot="action">
                      <s-icon type="close"></s-icon>
                  </s-fab>
                  <s-fab class="s-fab-done" slot="" id="checkButton">
                      <s-icon type="done"></s-icon>
                  </s-fab>
            </s-dialog>
        </div>
    </s-page>
<script src="{{ url_for('static', filename='/js/script.ppt.js') }}"></script>
<script type="text/javascript">
  $(function () {
    setTimeout(function () {
      $(".loaderbg").hide();
    }, 1000);
  })
</script>
</body>
</html>